/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .sidebar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%; /* Make the sidebar full width */
      height: 50px; /* Adjust the height as needed */
    }
  }

  /* Small devices (phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .sidebar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%; /* Make the sidebar full width */
      height: 50px; /* Adjust the height as needed */
    }
  }