@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
    /* Ensures the map is behind the navbar */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

.navbar-container {
    z-index: 10;
}