@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-popup-content {
  background-color: rgba(249, 115, 22, .5) !important;
}

.mapboxgl-popup-tip {
  border-top-color: rgba(249, 115, 22, .5) !important
}

.mapbox-popup-anchor-bottom {
  background-color: red !important;
}

.whiskey {
    background-image: url('../src/assets/whiskey.svg');
    background-size: cover;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

.sake {
    background-image: url('../src/assets/sake.svg');
    background-size: cover;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.beer {
    background-image: url('../src/assets/beer.svg');
    background-size: cover;
    width: 18px;
    height: 18px;
    cursor: pointer;
}